@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

body{
    background-color: darkgray;
    color: black;
    font-family: "gravitras one", serif;
    display: flex;
    justify-content: center;

    align-items: center;

    
}
.img01{
    width: 50%;
}